body {
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  line-height:1.5;
}
.container{
  width:100%;
  margin:auto;
  overflow:hidden;
}


/* Style the header */
header {
  background-color: black;
  padding-top: 30px;
  text-align: center;
 /* width:100%;*/
  color:white;
  padding-bottom:20px;
}

header a{
  color:white;
  text-decoration:none;
}


header ul{
list-style-type:none;
padding:0;
margin:0;
}
header a{
  display:inline;
  padding:0 20px 0 20px;
  list-style-type:none;
}
header nav{
  float:right;
  padding-right:350px;
}
header nav li:hover{
background-color:red;
}
header #q{
  padding-left:280px;
  list-style-type:none;
  float:left;
}

.header1 nav{
  background-color:#f9f9f9;
  color:red;
}
.header1 ul{
  margin:0;
  padding:0;
  list-style-type:none;
}
.header1 li{
  float:left;
  margin-left:50px;
  padding:10px 1px 0 20px;
}
.header1 li a{
  display:block;
}
.header1 .highlight{
  margin-top: 20px;
  padding-bottom:10px;
  float: right;
  font-size: 20px;
  color:red;
  margin-left:200px;
  padding-right:0;
}

.pages-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.pages-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.pages-content a:hover {
  background-color: #ddd;
}

.pages:hover .pages-content {
  display: block;
}
.pages-content{
background-color:grey;
}


input[type=button] {
  background-color:white;
  border:single;
  border-color:red;
  border-collapse:none;
  color: red;
  padding: 10px 32px;
  text-decoration: none;
  margin: 0;
  cursor: pointer;
  margin-left:10px;
}

/*setting the background image*/
#showcase {
  background-image: url("imagess/slider.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity:0.9;
}
#showcase .read{
  color:white;
  border:single;
  background-color:transparent;
  padding:10px 32px;
}
.image-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.image-text h1{
text-decoration:underline red;

}
.formcontainer {
  position: absolute;
  right: 1100px;
  margin-left:150px;
  margin-top:180px;
  top:650px;
  max-width: 350px;
  padding: 18px;
  background-color: white;
}

/* Full-width input fields */
.formcontainer input[type=text] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}



/* Set a style for the submit button */
.sbtn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
/*text next to form*/
.right {
  position:absolute;
  right: 0px;
  width:1000px;
  padding-left: 30px;
  padding-right:80px;
}
.right p{
  text-align:justify;
}



/*properties for box arrangement*/
#boxes{
  margin-top:200px;
  margin-left:380px;
}
 #boxes .row1,.row2{
  display:flex;
  align-items:center;
  }
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  #boxes .column{
   width:25%;
    border: 1px solid grey;
    margin:10px;
    display:inline-block;
    flex-direction:row;
  }
  #boxes .column:hover{
  border-color:red;
  
  }
  #boxes .column a:hover{
    color:white;
    background-color:red;
  }
 #boxes a{
   margin-left:10px;
   padding:0 5px 5px 5px;
   
   border: 1px solid black;
   color:red;
 }
#boxes h4{
  margin:30px;
  padding-top:0px;
}
 /*about us*/
 .sub .column {
  float: left;
  width: 25%;
}
.y{
  margin-left:300px;
  border-top:1px solid red;
  border-bottom:1px solid red;
  margin-left:800px;
  }
#about img{
  padding-bottom:80px;
  padding-left:40px;
  padding-right:40px;
}

.sub .row:after {
  content: "";
  display: table;
  clear: both;
  padding-left:200px;
  
}
.sub{
background-color:#f1f1f1;
}
.sub h2{
  text-decoration:underline red;
text-align:center;
margin-left:100px;
padding-top:40px;
}
.sub p{
text-align:justify;
text-align:center;

}
#col1{
  padding-left:250px;
}
.sub #col1 p,h4{
  text-align:justify;
  margin-left:150px;
}
.sub #col2 p,h3{
  margin-right:150px;
  text-align:justify;
  margin-left:-20px;
}
/*causes section*/
#causes .column6 {
  float: left;
  width: 23%;
  margin:10px;
  border: 0.2px solid  lightgrey;

}


#causes .row6 {
 background-color:white;
 margin-left:240px;

}
#causes span.e
{
float:left;
margin-right:100px;
}
#causes span.f{
float:right;
}
#causes span.g{
float:left;
margin-right:150px;
color:red;
}
#causes span.h{
float:right;
color:red;
}
#causes li{
list-style-type:none;
}
#causes .z{
text-align:center;
}
#causes h3{
margin-left:0;
text-decoration:underline red;
}
#causes h2{
  text-decoration:underline red;
  text-align:center;
  margin-left:130px;
}
#causes .flex-container1 {
  display:flex;
  flex-wrap:nowrap;
  justify-items:between;
  width:400 px;  
  margin-left:150px;
  padding-bottom:50px;

 
}
.sub1{
  padding-top:40px;
  padding-bottom:40px;
}
/* video section*/



.sub3 img {
  margin-left:390px;
  float: left;
  width:100%;
  height:250px;
  margin-right:25px;
  padding-right:20px;
  margin-top:30px;

 }
 
 .sub3{
 background-color:black;
 color:white;
 height:300px;
 display:flex;
 padding:40px;
 justify-content:space-around;
 }
.sub3 p,h2{
  margin-left:30%;
  margin-right:320px;
  text-align:justify;
}
.sub3 h2{
  text-decoration:underline red;

}
 
/*photo grid*/
 #gallery .row1 {
  display: flex;
  height:500px;
  /* padding: 0 4px;*/
  
}

.column1 {
  flex: 25%;
  max-width: 25%;
  /*padding: 0 4px;*/
}

.column1 img {
  /*margin-top: 8px;*/
  vertical-align: middle;
  width: 100%;
}

.sub4 h2{
  margin-left:130px;
  text-align:center;
  text-decoration:underline red;
}
.sub4 p{
  text-align:center;
}
.sub4{
  padding-top:40px;
  padding-bottom:40px;
}
/*volunteer section*/

/*#volunteer .column
{
  float:left;
  width:18%;
    padding:0 10px;
}
*/
#volunteer .row{
  display:flex;
  justify-content:initial;
  /*margin:0;*/
  /*padding:0 0 0 80px;*/
  margin-left:400px;
  justify-items:center;
}

#volunteer h2{
  text-align:center;
  margin-left:0;
  text-decoration:underline red;
}
.sub5 h5,p{
  text-align:center;
}

#volunteer li{
  list-style-type:none;
  display:inline-block;
  padding-right:40px;
  color:grey;
}
#volunteer .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  /*margin: auto;*/
  margin:0px 20px 20px 0;
  /*text-align: center;*/
  font-family: arial;
}

#volunteer h5{
  margin-left:100px;
}
#volunteer h2{
  margin-left:130px;
  text-align:center;
  text-decoration:underline red;
}
.sub5{
  padding-top:40px;
}
/*last section above footer*/
#last .row4{
display:flex;
justify-content:space-evenly;
}

#last .column4 li{
  list-style-type:none;
  text-decoration:underline black;
}
#last .column4, .column5, .column3 h5{
  text-decoration:underline red;
}
#last .column5 li{
  list-style-type:none;
}
.row4 .column3 li{
  list-style-type:none;
}
#last .column5 li{
  text-decoration:underline black;
}
#last .column3 h4{
 text-decoration:underline red;
}
#last .column3 span.a:hover{
  background-color:orangered;
}
#last .column5 li:hover{
  color:red;
}
#last{
  background-color:gray;
  color:white;
}
#last span.a{
  width:100%;
  margin:5px;
  padding:5px;
  border:1px solid white;
}
#last .column3 li{
  margin:20px;
}

/*section for news letter*/
#news{
  background-color:rgb(245,65,33);
  color:white;
  
}

#news h2{
  float:left;
  text-align:center;
  margin-left:250px;
  margin-top:30px;
}
#news form{
  margin-top:20px;
  float:right;
  padding:20px;
  width:auto;
}
#news input[type="text"]
{ padding:10px 32px;
  width:auto;
  margin-left:100px;
  
}
#news .button1{
  height:38px;
  background-color:rgb(245,65,33);
  color:white;
  margin-right:200px;
}

/*footer section*/
footer{
  background-color:black;
  text-align:center;
  color:white;
}

@media only screen and (max-width: 500px) {
  
  
  header #q{
    padding-left:100px;
  }
  .navbar a{
    padding:20px 1px 5px 0px;
    display:block;
    margin-left:50px;
    float:left;
    overflow:auto;
  }
  .header1 .highlight{
   margin-left:-70px;
  }
  #showcase{
    width:500px;
    height:300px;
  }
  .image-text h1{
    font-size:30px;
    width:500px;
    height:20px;
    margin-top:50px;
  }
  .formcontainer{
    left:180px;
    margin-left:-100px;
    width:500px;
    top:520px;
    height:300px;
    padding:0 20px 20px 0;
  }
  .right h1{
    margin-top:400px;
    margin-left:650px;
    width:400px;
  }
  .right p{
    width:400px;
    margin-left:650px;
  }
  /*body {
    background-color: rgb(184, 30, 35); 
  }*/
}

 /*@media only screen and (min-width: 961px) {
    body {
      background-color: #B2D6FF;
    }
  }  

 */